.venv
venv/
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.nyc_output
coverage
.coverage
coverage.xml
.DS_Store
.#*
\#*#
*~
_build
.vscode
.env

dump.rdb

.tmp
.sass-cache
npm-debug.log

client/cypress/screenshots
client/cypress/videos
